{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}

<div class="row text-center" id="about">
<div class="col-md-12">
<h4>About Us</h4>
<h1><b>Our Story of<br>Success.</b></h1>
</div>
</div>

<div class="row p-3">

<div class="col-md-5 p-3">
<img src="{% static 'img/a10.jpg' %}" height="400" width="90%" />
</div>
<div class="col-md-7 p-3">

<h5><b>A Perfect Blend of Sensational<br>Food And Inspiring Staff</b></h5>
<p style="font-size:30px;">1997</p><blockquote style="font-size:20px;">-Silver services is oriented foe a right-handed waiter.Thus to serve the food,the waiter stands behind the guest and to the guest's left,hold or supports the platter with their left hand,and service the food with their right hand.It is common for the waiter to hold the serving-fork above the serving-spoon both in the right hand,and use the finger to manipulate the two as a pincer for picking up and transferring the food.</blockquote>
<h2><b>Andreo Moreno, <small>Master-Chef</small></b></h2>
</div>
</div>

{% endblock %}