{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}

<div class="row text-center p-5">
<div class="col-md-12 p-3">
<h1><b>OUR SERVICES</b></h1>
<h5>Planning a Fabulous Event?</h5>
</div>
</div>

<div class="row p-3" id="services">
<div class="col-md-4">
<h5 style="font-family:verdana;"><b>1.WEDDINGS</b></h5>
<h5>On one of the most important days of your life we provide a full catering program</h5>
<h5 style="font-family:verdana;"><b>3.CORPORATE</b></h5>
<h5>Your can order a corporate full time or part time service for personnel/staff luches</h5>
<h5 style="font-family:verdana;"><b>5.SOCIALS</b></h5>
<h5>Social events are highly important to our clients, and we guarantee perfect service</h5>
</div>
<div class="col-md-4">
<img src="{% static 'img/a5.jpg' %}" height="500" width="100%" />
</div>

<div class="col-md-4">
<h5 style="font-family:verdana;"><b>2.PICNICS</b></h5>
<h5>We will be more than happy to work for you during a family or a business picnic</h5>
<h5 style="font-family:verdana;"><b>4.FESTIVALS</b></h5>
<h5>We are completely capable of serving for big, open, small, adults or kids festivals</h5>
<h5 style="font-family:verdana;"><b>6.PRIVATE PARTIES</b></h5>
<h5>A private dining room, or a penthouse catering is one of our many great services</h5>
</div>
</div>




{% endblock %}